<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Zuma-Shop 購入明細詳細</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container px-4 px-lg-5">
        <%= link_to 'Zuma-Shop', products_path, class: 'navbar-brand' %>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
            <li class="nav-item">
              <%= link_to '商品一覧', products_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to '明細一覧', orders_path, class: 'nav-link' %>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container mt-5">
      <h1>購入明細詳細</h1>
      <p>購入者名: <%= @order.user.first_name %> <%= @order.user.last_name %></p>
      <p>購入日: <%= @order.order_date.strftime("%Y/%m/%d") %></p>
      <h2>購入品</h2>
      <table class="table">
        <thead>
          <tr>
            <th>商品名</th>
            <th>価格</th>
            <th>数量</th>
            <th>小計</th>
          </tr>
        </thead>
        <tbody>
          <% @order.order_items.each do |item| %>
            <tr>
              <td><%= item.product_name %></td>
              <td><%= number_to_currency(item.price) %></td>
              <td><%= item.quantity %></td>
              <td><%= number_to_currency(item.price * item.quantity) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <h3>合計金額 <%= number_to_currency(@order.total_price) %></h3>
    </div>
  </body>
</html>
