<!doctype html>
<html lang="en" >
  <head>
    <title>Checkout example for Bootstrap</title>
    <link rel="canonical" href="https://getbootstrap.jp/docs/5.3/examples/checkout/">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="form-validation.css" rel="stylesheet">
  </head>
  <body  class="bg-light" >
    <a id="skippy" class="sr-only sr-only-focusable" href="#content">
      <div class="container">
        <span class="skiplink-text">Skip to main content</span>
      </div>
    </a>
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container px-4 px-lg-5">
        <%= link_to 'Zuma-Shop', products_path, class: 'navbar-brand' %>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
            <li class="nav-item">
              <%= link_to '一覧', products_path, class: 'nav-link' %>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="py-5 text-center">
        <h2>チェックアウトフォーム</h2>
      </div>
      <div class="row">
        <div class="col-md-4 order-md-2 mb-4">
          <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-muted">カートの商品</span>
            <span class="badge badge-secondary badge-pill">
              <%= @cart.total_quantity %>
            </span>
          </h4>
          <ul class="list-group mb-3">
            <% @cart.cart_items.order(:id).each do |cart_item| %>
              <% if cart_item.quantity > 0 %>
                <li class="list-group-item d-flex justify-content-between lh-condensed align-items-center">
                  <%= render 'carts/cart_item', cart_item: cart_item %>
                </li>
              <% end %>
            <% end %>
            <% if @cart.promotion_price %>
              <li class="list-group-item d-flex justify-content-between"　>
                <span>プロモーション金額</span>
                <strong style="color: green">
                  <%= number_to_currency(-@cart.promotion_price) %>
                </strong>
              </li>
            <% end %>
            <li class="list-group-item d-flex justify-content-between">
              <span>合計金額</span>
              <strong>
                <%= number_to_currency([@cart.total_price - (@cart.promotion_price || 0), 0].max) %>
              </strong>
            </li>
          </ul>
          <%= form_with model: @promotion, url: cart_path, class: "card p-2", local: true do |form| %>
            <div class="input-group">
              <%= form.text_field :code, class: 'form-control', placeholder: 'プロモーションコード'%>
              <div class="input-group-append">
                <%= form.submit '適用する', class: 'btn btn-secondary', disabled: @cart.promotion_price.present? %>
              </div>
            </div>
            <% if flash[:notice] %>
              <p style="color: green"><%= flash[:notice] %></p>
            <% elsif flash[:alert] %>
              <p style="color: red"><%= flash[:alert] %></p>
            <% end %>
          <% end %>
        </div>
        <div class="col-md-8 order-md-1">
          <h4 class="mb-3">請求先住所</h4>
          <%= render 'common/error_messages', model: @user %>
          <%= form_with model: @user, url: users_path, local: true do |form| %>
            <div class="row">
              <div class="col-md-6 mb-3">
                <%= form.label :first_name, '姓' %>
                <%= form.text_field :first_name, class: 'form-control'%>
              </div>
              <div class="col-md-6 mb-3">
                <%= form.label :last_name, '名' %>
                <%= form.text_field :last_name, class: 'form-control'%>
              </div>
            </div>
            <div class="mb-3">
              <%= form.label :user_name, 'ユーザーネーム' %>
              <%= form.text_field :user_name, class: 'form-control'%>
            </div>
            <div class="mb-3">
              <%= form.label :email, 'メールアドレス' %>
              <%= form.text_field :email, class: 'form-control'%>
            </div>
            <div class="mb-3">
              <%= form.label :zip, '郵便番号' %>
              <%= form.text_field :zip, class: 'form-control'%>
            </div>
            <div class="mb-3">
              <%= form.label :address, '住所' %>
              <%= form.text_field :address, class: 'form-control'%>
            </div>
            <div class="mb-3">
              <%= form.label :detail_address, '建物名や部屋番号' %>
              <%= form.text_field :detail_address, class: 'form-control'%>
            </div>
            <div class="mb-3">
              <%= form.label :name_of_card, 'カード名義人' %>
              <%= form.text_field :name_of_card, class: 'form-control'%>
            </div>
            <div class="mb-3">
              <%= form.label :card_number, 'カード番号' %>
              <%= form.text_field :card_number, class: 'form-control'%>
            </div>
            <div class="mb-3">
              <%= form.label :expiration, '有効期限' %>
              <%= form.text_field :expiration, class: 'form-control'%>
            </div>
            <div class="mb-3">
              <%= form.label :cvv, 'セキュリティコード（CVV）' %>
              <%= form.text_field :cvv, class: 'form-control'%>
            </div>
            <%= form.submit '購入する', class: 'btn btn-primary btn-lg btn-block', disabled: @cart.total_quantity.zero? %>
          <% end %>
        </div>
      </div>
      <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; 2017-2018 Company Name</p>
        <ul class="list-inline">
          <li class="list-inline-item"><a href="#">Privacy</a></li>
          <li class="list-inline-item"><a href="#">Terms</a></li>
          <li class="list-inline-item"><a href="#">Support</a></li>
        </ul>
      </footer>
    </div>
    <script src="../../assets/js/vendor/holder.min.js"></script>
    <script>
      // Example starter JavaScript for disabling form submissions if there are invalid fields
      (function() {
        'use strict';

        window.addEventListener('load', function() {
          // Fetch all the forms we want to apply custom Bootstrap validation styles to
          var forms = document.getElementsByClassName('needs-validation');

          // Loop over them and prevent submission
          var validation = Array.prototype.filter.call(forms, function(form) {
            form.addEventListener('submit', function(event) {
              if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
              }
              form.classList.add('was-validated');
            }, false);
          });
        }, false);
      })();
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>
      window.jQuery
    </script><script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script><script src="/docs/4.3/assets/js/vendor/anchor.min.js"></script>
    <script src="/docs/4.3/assets/js/vendor/clipboard.min.js"></script>
    <script src="/docs/4.3/assets/js/vendor/bs-custom-file-input.min.js"></script>
    <script src="/docs/4.3/assets/js/src/application.js"></script>
    <script src="/docs/4.3/assets/js/src/search.js"></script>
    <script src="/docs/4.3/assets/js/src/ie-emulation-modes-warning.js"></script>
  </body>
</html>
