<div class="col mb-5">
  <div class="card h-100">
    <!-- Sale badge-->
    <% if product.sales_price %>
      <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
    <% end %>
    <!-- Product image-->
    <% if product.image.attached? %>
      <%= image_tag(product.image, class: "card-img-top") %>
    <% else %>
      <%= image_tag(asset_path('default_image.jpeg'), class: "card-img-top") %>
    <% end %>
    <!-- Product details-->
    <div class="card-body p-4">
      <div class="text-center">
        <!-- Product name-->
        <h5 class="fw-bolder"><%= product.name %></h5>
        <!-- Product price-->
        <span class="text-muted text-decoration-line-through">
          <%= "¥#{product.normal_price}" if product.sales_price %>
        </span>
        ¥<%= product.sales_price ? product.sales_price : product.normal_price %>
      </div>
    </div>
    <!-- Product actions-->
    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
      <div class="text-center">
        <%= link_to '詳細', admin_product_path(product), class: 'btn btn-outline-dark mt-auto' %>
        <%= link_to '削除', admin_product_path(product),
                    data: {
                      turbo_method: :delete,
                      turbo_confirm: "削除しますか？"
                    },
                    class: 'btn btn-danger mt-auto' %>
      </div>
    </div>
  </div>
</div>
