<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Zuma-Shop <%= @product.name %></title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet" />
  </head>
  <body>
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container px-4 px-lg-5">
        <%= link_to 'Zuma-Shop', products_path, class: 'navbar-brand' %>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
            <li class="nav-item">
              <%= link_to '商品一覧', products_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to '明細一覧', orders_path, class: 'nav-link' %>
            </li>
          </ul>
          <div class="d-flex">
            <%= link_to cart_path, class: 'btn btn-outline-dark' do %>
              <i class="bi-cart-fill me-1"></i>
              Cart
              <span class="badge bg-dark text-white ms-1 rounded-pill">
                <%= @cart.total_quantity %>
              </span>
            <% end %>
          </div>
        </div>
      </div>
    </nav>
    <!-- Product section-->
    <section class="py-5">
      <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
          <div class="col-md-6">
            <% if @product.image.attached? %>
              <%= image_tag(@product.image, class: "card-img-top mb-5 mb-md-0") %>
            <% else %>
              <%= image_tag(asset_path('default_image.jpeg'), class: "card-img-top") %>
            <% end %>
          </div>
          <div class="col-md-6">
            <div class="small mb-1"><%= @product.code %></div>
            <h1 class="display-5 fw-bolder"><%= @product.name %></h1>
            <div class="fs-5 mb-5">
              <span class="text-decoration-line-through">
                <%= "¥#{@product.normal_price}" if @product.sales_price %>
              </span>
              <span>¥<%= @product.sales_price ? @product.sales_price : @product.normal_price %></span>
            </div>
            <p class="lead"><%= @product.description %></p>
            <div class="d-flex">
              <%= form_with url: cart_items_path(product_id: @product.id), method: :post, local: true, class: "d-flex align-items-center" do |form| %>
                <%= form.number_field :quantity, value: 1, class: 'form-control text-center me-3', style: 'max-width: 3rem' %>
                <%= form.button class: 'btn btn-outline-dark flex-shrink-0' do %>
                  <i class="bi-cart-fill me-1"></i>
                  カートに追加
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Related items section-->
    <section class="py-5 bg-light">
      <div class="container px-4 px-lg-5 mt-5">
        <h2 class="fw-bolder mb-4">関連商品</h2>
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
          <%= render partial: "product_card", collection: @products, as: :product %>
        </div>
      </div>
    </section>
    <!-- Footer-->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Rails EC</p>
      </div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
  </body>
</html>
